<div class="main">
    <form (submit)="onSubmit($event)">
        <div class="inner">

            <label for="">Name</label>
            <input type="text" name="name"   placeholder="Enter your name">
        </div>
        
        <div   class="inner">
            <label for="">Mobile</label>
            <input type="text" name="mobile"   placeholder="Enter your mobile">
        </div>

        <div   class="inner">
            <label for="">Email</label>
            <input type="text" name="email"   placeholder="Enter your email">
        </div>

        <div   class="inner">
            <label for="">Password</label>
            <input type="text" name="password"   placeholder="Enter your password">
        </div>
        <button type="submit">Submit</button>
    </form>
</div>
